body {
    margin: 0;
}

@keyframes spinner-1 {
     
     0% {
        widht: 1%px;
        background: rgb(226, 226, 226);
    }
     15% {
        width: 15%;
        background: rgb(182, 180, 180);
    }
     25% {
        width: 25%;
        background: rgb(143, 140, 140);
    }
     50% {
        width: 50%;
        background: rgb(110, 109, 109);
    }
     75% {
        width: 75%;
        background: rgb(97, 96, 96);
    }
     95% {
        width: 95%;
        background: rgb(63, 62, 62);}
     100% {
        width: 100%; 
        background: rgb(5, 5, 5);}
}

@keyframes circle-1 {
    15% {
        background: white;
    }
    30% {
        background: green;
    }
    100% {
        background: red;
    }
}

@keyframes circle-2 {
    10% {
        background: red;
    }
    50% {
        background: white;
    }
    100% {
        background: green;
    }
}

@keyframes circle-3 {
    10% {
        background: green;
    }
    50% {
        background: red;
    }
    100% {
        background: white;
    }
}

@keyframes spinner-3 {
    from {
    transform: rotate(360deg);
    }
    
    70% {
        width: 10px;
        height: 100px;
        border-radius: 0;
    }
    80% {
        width: 10px;
        height: 80px;
        border-radius: 0;
    }
    90% {
        background: #23395B;
        height: 50px;
        border-radius: 0;
    }
    100% {
        
    }
    to {
        background: #23395B;
        height: 10px;
        width: 10px;
        border-radius: 50%;
    }
}

@keyframes spinner-4 {
    0% {
        width: 20px;
        height: 20px;
    }
    10% {
        width: 25px;
        height: 25px; 
    }
    20% {
        width: 30px;
        height: 30px;
    }
    30% {
        width: 40px;
        height: 40px;
    }
    40% {
        width: 50px;
        height: 50px;
    }
    50% {
        width: 60px;
        height: 60px;
    }
    60% {
        width: 70px;
        height: 70px;
    }
    70% {
        width: 80px;
        height: 80px;
    }
    80% {
        width: 90px;
        height: 90px;
    }
    90% {
        width: 95px;
        height: 95px;
    }
    to {
        width: 100px;
        height: 100px;
    }
}

@keyframes spinner-5 {
    from {
        width: 100px;
        height: 100px;
        background: #00d4ff;
    }
    20% {
        height: 30px;
        width: 30px;
        background: #00d4ff;
        transform: rotate(60deg);
    }
    40% {
        width: 0;
        height: 0;
        border-left: 18px solid transparent;
        border-right: 18px solid transparent;
        border-bottom: 30px solid #00d4ff;
    }
    60% {
        width: 0;
        height: 0;
        border-top: 18px solid transparent;
        border-bottom: 18px solid transparent;
        border-left: 30px solid #00d4ff;
    }
    80% {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: #00d4ff;
    }
    to {
        width: 100px;
        height: 100px;
        background: #0011ff; 
    }
} 

@keyframes spinner-6 {
    10% {background: transparent}
    20% {background: #000;}
    30% {background: transparent;}
    40% {background: #000;}
    50% {background: transparent;}
    60% {background: #000;}
    70% {background: transparent;}
    80% {background: #000;}
    90% {background: transparent;}
}

@keyframes spinner-7 {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(720deg);

    }
}

@keyframes spinner-8 {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);

    }
}

@keyframes spinner-9 {
    0% {
        border-width: 3px 9px 10px 15px;
    }
    25% {
        border-width: 15px 3px 9px 10px;
    }
    50% {
        border-width: 10px 15px 3px 9px;
    }
    75% {
        border-width: 9px 10px 15px 3px;
    }
    100% {
        border-width: 3px 9px 10px 15px;
    }
}

@keyframes spinner-10 {
    0% {
        border-width: 0px 1px 10px 15px;
    }
    25% {
        border-width: 15px 0px 1px 10px;
    }
    50% {
        border-width: 10px 15px 0px 1px;
    }
    75% {
        border-width: 1px 10px 15px 0px;
    }
    100% {
        border-width: 0px 1px 10px 15px;
    }
}

@keyframes spinner-11 {
    0% {
        border-width: 0px 1px 10px 15px;
    }
    25% {
        border-width: 15px 0px 1px 10px;
    }
    50% {
        border-width: 10px 15px 0px 1px;
    }
    75% {
        border-width: 1px 10px 15px 0px;
    }
    100% {
        border-width: 0px 1px 10px 15px;
    }
}

@keyframes spinner-11 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(720deg);
    }
}

@keyframes spinner-12 {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(360deg);
    }
}

@keyframes spinner-13 {
    0% {width: 10px; height: 10px; border: 1px solid gray;}
    20% {width: 15px; height: 15px; border: 1px solid gray;}
    30% {width: 20px; height: 20px; border: 1px solid gray;}
    40% {width: 25px; height: 25px; border: 1px solid gray;}
    50% {width: 30px; height: 30px; border: 1px solid gray;}
    60% {width: 35px; height: 35px; border: 1px solid gray;}
    70% {width: 40px; height: 40px; border: 1px solid gray;}
    80% {width: 45px; height: 45px; border: 1px solid gray;}
    90% {width: 50px; height: 50px; border: 1px solid gray;}
    100% {width: 55px; height: 55px; border: 1px solid gray;}
}

@media only screen and (min-width: 768px) {
    .vh-50 {
        height: 50vh !important;
    }
    .item {
        color:#939196;
        border: 1px solid #000;
        /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .spinner-1 {
        width: 200px;
        height: 20px;
        background: #000;
        animation: spinner-1 4s infinite;
    }

    .spinner-2 {
        width: 20%;
        display: flex;
        justify-content: space-around;
    }

    .spinner-2 .circle {
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
    }

    .c1 {
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        animation: circle-1 4s infinite;
        animation-fill-mode: backwards;
    }

    .c2 {
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        animation: circle-2 4s infinite;
        animation-fill-mode: backwards;
    }

    .c3 {
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        animation: circle-3 4s infinite;
        animation-fill-mode: backwards;
    }
    
    .spinner-3 {
        height: 100px;
        width: 100px;
        background: #161925;
        animation: spinner-3 4s infinite;
    }

    .spinner-4 {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: rgb(251,63,247);
        background: radial-gradient(circle, rgba(251,63,247,0.5522408792618609) 0%, rgb(253, 253, 255) 100%);
        animation: spinner-4 1s infinite;
    }

    .spinner-5 {
        animation: spinner-5 4s infinite;
    }

    .spinner-6 {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #000;
        animation: spinner-6 2s infinite;
    }

    .spinner-7 {
        width: 50px;
        height: 50px;
        border: 4px solid #000;
        border-top: none;
        animation: spinner-7 2s infinite;
    }

    .spinner-8 {
        animation: spinner-8 1s infinite;
    }

    .spinner-8 .rect-1, .rect-4 {
        height: 100px;
        width: 10px;
        background: #000;
    }

    .spinner-8 .rect-2, .rect-3 {
        height: 10px;
        width: 100px;
        background: #000;
    }

    .rect-2 {
        position: relative;
        bottom: 100px;
        left: 10px;
    }

    .rect-4 {
        position: relative;
        left: 100px;
        bottom: 100px;
        animation: alternate 1s infinite;
    }

    .spinner-9 {
        width: 100px;
        height: 100px;
        border: dotted gray;
        border-radius: 50%;
        animation: spinner-9 500ms infinite;
    }

    .spinner-10 {
        width: 100px;
        height: 100px;
        border: solid gray;
        border-radius: 50%;
        animation: spinner-10 500ms infinite; 
    }

    .spinner-11 {
        width: 100px;
        height: 100px;
        border-top: solid gray;
        border-width: 1px 10px;
        border-radius: 50%;
        animation: spinner-11 500ms infinite; 
    }

    .spinner-12 {
        display: flex;
        justify-content: center;
        align-items: center;
        animation: spinner-12 1s infinite;
    }

    .spinner-12 .c-1 {
        width: 100px;
        height: 100px;
        border: 3px solid #000;
    }

    .spinner-12 .c-2 {
        width: 80px;
        height: 80px;
        border: 3px solid #000;
    }

    .spinner-12 .c-3 {
        width: 100px;
        height: 100px;
        border: 3px solid #000;
    }

    .spinner-13 {
        width: 10px;
        height: 10px;
        border: 1px solid gray;
        border-radius: 50%;
        animation: spinner-13 500ms infinite;
    }

}

@media only screen and (max-width: 600px) {
    .vh-50 {
        height: 50vh !important;
    }
    
    .spinner-1 {
        width: 200px;
        height: 20px;
        background: #000;
        border: 1px solid #000;
        animation: spinner-1 3s 1s infinite;
    }
    .spinner-2 {
        width: 20%;
        height: 20%;
        display: flex;
        justify-content: space-around;
        animation: spinner-2;
    }

    .spinner-2 .circle {
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
    }
    
    .spinner-2 .circle {
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
    }

    .c1 {
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        animation: circle-1 4s 4s infinite;
        animation-fill-mode: backwards;
    }

    .c2 {
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        animation: circle-2 4s 4s infinite;
        animation-fill-mode: backwards;
    }

    .c3 {
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        animation: circle-3 4s 4s infinite;
        animation-fill-mode: backwards;
    }

    .spinner-3 {
        height: 100px;
        width: 100px;
        background: #161925;
        animation: spinner-3 4s infinite;
    }

    .spinner-4 {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: rgb(251,63,247);
        background: radial-gradient(circle, rgba(251,63,247,0.5522408792618609) 0%, rgb(253, 253, 255) 100%);
        animation: spinner-4 1s infinite;
    }

    .spinner-5 {
        animation: spinner-5 4s infinite;
    }

    .spinner-6 {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #000;
        animation: spinner-6 2s infinite;
    }

    .spinner-7 {
        width: 50px;
        height: 50px;
        border: 4px solid #000;
        border-top: none;
        animation: spinner-7 2s infinite;
    }

    .spinner-8 {
        animation: spinner-8 1s infinite;
    }

    .spinner-8 .rect-1, .rect-4 {
        height: 100px;
        width: 10px;
        background: #000;
    }

    .spinner-8 .rect-2, .rect-3 {
        height: 10px;
        width: 100px;
        background: #000;
    }

    .rect-2 {
        position: relative;
        bottom: 100px;
        left: 10px;
    }

    .rect-4 {
        position: relative;
        left: 100px;
        bottom: 100px;
        animation: alternate 1s infinite;
    }

    .spinner-9 {
        width: 100px;
        height: 100px;
        border: dotted gray;
        border-radius: 50%;
        animation: spinner-9 500ms infinite;
    }

    .spinner-10 {
        width: 100px;
        height: 100px;
        border: solid gray;
        border-radius: 50%;
        animation: spinner-10 500ms infinite; 
    }

    .spinner-11 {
        width: 100px;
        height: 100px;
        border-top: solid gray;
        border-width: 1px 10px;
        border-radius: 50%;
        animation: spinner-11 500ms infinite; 
    }

    .spinner-12 {
        display: flex;
        justify-content: center;
        align-items: center;
        animation: spinner-12 1s infinite;
    }

    .spinner-12 .c-1 {
        width: 100px;
        height: 100px;
        border: 3px solid #000;
    }

    .spinner-12 .c-2 {
        width: 80px;
        height: 80px;
        border: 3px solid #000;
    }

    .spinner-12 .c-3 {
        width: 100px;
        height: 100px;
        border: 3px solid #000;
    }

    .spinner-13 {
        width: 10px;
        height: 10px;
        border: 1px solid gray;
        border-radius: 50%;
        animation: spinner-13 500ms infinite;
    }
}